.productGallery {
  height: 500px;
  width: 100%;
  img {
    max-width: 100%;
  }
}

.productThumbs {
  height: 120px;
  margin: 10px 0;
  .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
    border: 1px solid #eee;
    img {
      max-width: 100%;
    }
  }
  .swiper-slide-thumb-active {
    opacity: 1;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #09ccd0;
    color: #fff;
    &:after {
      font-size: 12px
    }
  }
}
