@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?1w887n');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?1w887n#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?1w887n') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?1w887n') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?1w887n##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-banknote {
  &:before {
    content: $ico-banknote; 
  }
}
.ico-bill {
  &:before {
    content: $ico-bill; 
  }
}
.ico-money {
  &:before {
    content: $ico-money; 
  }
}
.ico-cash {
  &:before {
    content: $ico-cash; 
  }
}
.ico-search {
  &:before {
    content: $ico-search; 
  }
}
.ico-home {
  &:before {
    content: $ico-home; 
  }
}
.ico-user-circle-o {
  &:before {
    content: $ico-user-circle-o; 
  }
}
.ico-group {
  &:before {
    content: $ico-group; 
  }
}
.ico-users {
  &:before {
    content: $ico-users; 
  }
}
.ico-arrow-left {
  &:before {
    content: $ico-arrow-left; 
  }
}
.ico-arrow-right {
  &:before {
    content: $ico-arrow-right; 
  }
}
.ico-volume-control-phone {
  &:before {
    content: $ico-volume-control-phone; 
  }
}
.ico-shopping_basket {
  &:before {
    content: $ico-shopping_basket; 
  }
}
.ico-add_shopping_cart {
  &:before {
    content: $ico-add_shopping_cart; 
  }
}
.ico-local_grocery_store {
  &:before {
    content: $ico-local_grocery_store; 
  }
}
.ico-add_circle {
  &:before {
    content: $ico-add_circle; 
  }
}
.ico-add {
  &:before {
    content: $ico-add; 
  }
}
.ico-delete_forever {
  &:before {
    content: $ico-delete_forever; 
  }
}
.ico-remove_circle_outline {
  &:before {
    content: $ico-remove_circle_outline; 
  }
}
.ico-remove_circle {
  &:before {
    content: $ico-remove_circle; 
  }
}
.ico-do_not_disturb_on {
  &:before {
    content: $ico-do_not_disturb_on; 
  }
}
.ico-favorite_outline {
  &:before {
    content: $ico-favorite_outline; 
  }
}
.ico-star_outline {
  &:before {
    content: $ico-star_outline; 
  }
}
.ico-star_half {
  &:before {
    content: $ico-star_half; 
  }
}
.ico-bookmarks {
  &:before {
    content: $ico-bookmarks; 
  }
}
.ico-stars {
  &:before {
    content: $ico-stars; 
  }
}
.ico-bookmark {
  &:before {
    content: $ico-bookmark; 
  }
}
.ico-star {
  &:before {
    content: $ico-star; 
  }
}
.ico-favorite {
  &:before {
    content: $ico-favorite; 
  }
}
.ico-home1 {
  &:before {
    content: $ico-home1; 
  }
}
.ico-filter_list_alt {
  &:before {
    content: $ico-filter_list_alt; 
  }
}
.ico-view_list {
  &:before {
    content: $ico-view_list; 
  }
}
.ico-list {
  &:before {
    content: $ico-list; 
  }
}
.ico-table_rows {
  &:before {
    content: $ico-table_rows; 
  }
}
.ico-grid_view {
  &:before {
    content: $ico-grid_view; 
  }
}
.ico-check_circle {
  &:before {
    content: $ico-check_circle; 
  }
}
.ico-check {
  &:before {
    content: $ico-check; 
  }
}
.ico-clear {
  &:before {
    content: $ico-clear; 
  }
}
.ico-close {
  &:before {
    content: $ico-close; 
  }
}
.ico-logout {
  &:before {
    content: $ico-logout; 
  }
}
.ico-keyboard_backspace {
  &:before {
    content: $ico-keyboard_backspace; 
  }
}
.ico-login {
  &:before {
    content: $ico-login; 
  }
}
.ico-person_search {
  &:before {
    content: $ico-person_search; 
  }
}
.ico-person_remove {
  &:before {
    content: $ico-person_remove; 
  }
}
.ico-person_remove_alt_1 {
  &:before {
    content: $ico-person_remove_alt_1; 
  }
}
.ico-person_add_alt_1 {
  &:before {
    content: $ico-person_add_alt_1; 
  }
}
.ico-verified_user {
  &:before {
    content: $ico-verified_user; 
  }
}
.ico-person {
  &:before {
    content: $ico-person; 
  }
}
.ico-arrow_drop_down {
  &:before {
    content: $ico-arrow_drop_down; 
  }
}
.ico-keyboard_arrow_down {
  &:before {
    content: $ico-keyboard_arrow_down; 
  }
}
.ico-arrow_drop_up {
  &:before {
    content: $ico-arrow_drop_up; 
  }
}
.ico-keyboard_arrow_up {
  &:before {
    content: $ico-keyboard_arrow_up; 
  }
}
.ico-arrow_left {
  &:before {
    content: $ico-arrow_left; 
  }
}
.ico-navigate_before {
  &:before {
    content: $ico-navigate_before; 
  }
}
.ico-chevron_left {
  &:before {
    content: $ico-chevron_left; 
  }
}
.ico-arrow_left1 {
  &:before {
    content: $ico-arrow_left1; 
  }
}
.ico-arrow_right_alt {
  &:before {
    content: $ico-arrow_right_alt; 
  }
}
.ico-arrow_right {
  &:before {
    content: $ico-arrow_right; 
  }
}
.ico-navigate_next {
  &:before {
    content: $ico-navigate_next; 
  }
}
.ico-chevron_right {
  &:before {
    content: $ico-chevron_right; 
  }
}
.ico-call {
  &:before {
    content: $ico-call; 
  }
}
.ico-phone {
  &:before {
    content: $ico-phone; 
  }
}
.ico-local_phone {
  &:before {
    content: $ico-local_phone; 
  }
}
.ico-email {
  &:before {
    content: $ico-email; 
  }
}
.ico-mail {
  &:before {
    content: $ico-mail; 
  }
}
.ico-markunread {
  &:before {
    content: $ico-markunread; 
  }
}
.ico-local_post_office {
  &:before {
    content: $ico-local_post_office; 
  }
}
.ico-library {
  &:before {
    content: $ico-library; 
  }
}
.ico-cart {
  &:before {
    content: $ico-cart; 
  }
}
.ico-coin-dollar {
  &:before {
    content: $ico-coin-dollar; 
  }
}
.ico-credit-card {
  &:before {
    content: $ico-credit-card; 
  }
}
.ico-location {
  &:before {
    content: $ico-location; 
  }
}
.ico-location2 {
  &:before {
    content: $ico-location2; 
  }
}
.ico-map {
  &:before {
    content: $ico-map; 
  }
}
.ico-map2 {
  &:before {
    content: $ico-map2; 
  }
}
.ico-mobile {
  &:before {
    content: $ico-mobile; 
  }
}
.ico-quotes-left {
  &:before {
    content: $ico-quotes-left; 
  }
}
.ico-quotes-right {
  &:before {
    content: $ico-quotes-right; 
  }
}
.ico-stats-bars {
  &:before {
    content: $ico-stats-bars; 
  }
}
.ico-eye {
  &:before {
    content: $ico-eye; 
  }
}
.ico-heart {
  &:before {
    content: $ico-heart; 
  }
}
.ico-play {
  &:before {
    content: $ico-play; 
  }
}
.ico-youtube {
  &:before {
    content: $ico-youtube; 
  }
}

