@font-face {
  font-family: 'ico';
  src:  url('fonts/ico.eot?1w887n');
  src:  url('fonts/ico.eot?1w887n#iefix') format('embedded-opentype'),
    url('fonts/ico.ttf?1w887n') format('truetype'),
    url('fonts/ico.woff?1w887n') format('woff'),
    url('fonts/ico.svg?1w887n#ico') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ico' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-banknote:before {
  content: "\e935";
}
.ico-check:before {
  content: "\e935";
}
.ico-bill:before {
  content: "\e935";
}
.ico-money:before {
  content: "\e935";
}
.ico-cash:before {
  content: "\e935";
}
.ico-search:before {
  content: "\e908";
}
.ico-home:before {
  content: "\e909";
}
.ico-user-circle-o:before {
  content: "\e90a";
}
.ico-group:before {
  content: "\e90b";
}
.ico-users:before {
  content: "\e90b";
}
.ico-arrow-left:before {
  content: "\e90c";
}
.ico-arrow-right:before {
  content: "\e90d";
}
.ico-volume-control-phone:before {
  content: "\e900";
}
.ico-shopping_basket:before {
  content: "\e932";
}
.ico-add_shopping_cart:before {
  content: "\e933";
}
.ico-local_grocery_store:before {
  content: "\e934";
}
.ico-add_circle:before {
  content: "\e92d";
}
.ico-add:before {
  content: "\e92e";
}
.ico-delete_forever:before {
  content: "\e92f";
}
.ico-remove_circle_outline:before {
  content: "\e930";
}
.ico-remove_circle:before {
  content: "\e931";
}
.ico-do_not_disturb_on:before {
  content: "\e931";
}
.ico-favorite_outline:before {
  content: "\e925";
}
.ico-star_outline:before {
  content: "\e926";
}
.ico-star_half:before {
  content: "\e927";
}
.ico-bookmarks:before {
  content: "\e928";
}
.ico-stars:before {
  content: "\e929";
}
.ico-bookmark:before {
  content: "\e92a";
}
.ico-star:before {
  content: "\e92b";
}
.ico-favorite:before {
  content: "\e92c";
}
.ico-home1:before {
  content: "\e90e";
}
.ico-filter_list_alt:before {
  content: "\e90f";
}
.ico-view_list:before {
  content: "\e910";
}
.ico-list:before {
  content: "\e911";
}
.ico-table_rows:before {
  content: "\e912";
}
.ico-grid_view:before {
  content: "\e913";
}
.ico-check_circle:before {
  content: "\e914";
}
.ico-check1:before {
  content: "\e915";
}
.ico-clear:before {
  content: "\e916";
}
.ico-close:before {
  content: "\e916";
}
.ico-logout:before {
  content: "\e917";
}
.ico-keyboard_backspace:before {
  content: "\e918";
}
.ico-login:before {
  content: "\e919";
}
.ico-person_search:before {
  content: "\e91a";
}
.ico-person_remove:before {
  content: "\e91b";
}
.ico-person_remove_alt_1:before {
  content: "\e91b";
}
.ico-person_add_alt_1:before {
  content: "\e91c";
}
.ico-verified_user:before {
  content: "\e91d";
}
.ico-person:before {
  content: "\e91e";
}
.ico-arrow_drop_down:before {
  content: "\e91f";
}
.ico-keyboard_arrow_down:before {
  content: "\e920";
}
.ico-arrow_drop_up:before {
  content: "\e921";
}
.ico-keyboard_arrow_up:before {
  content: "\e922";
}
.ico-arrow_left:before {
  content: "\e923";
}
.ico-navigate_before:before {
  content: "\e924";
}
.ico-chevron_left:before {
  content: "\e924";
}
.ico-arrow_left1:before {
  content: "\e907";
}
.ico-arrow_right_alt:before {
  content: "\e901";
}
.ico-arrow_right:before {
  content: "\e902";
}
.ico-navigate_next:before {
  content: "\e903";
}
.ico-chevron_right:before {
  content: "\e903";
}
.ico-call:before {
  content: "\e904";
}
.ico-phone:before {
  content: "\e905";
}
.ico-local_phone:before {
  content: "\e905";
}
.ico-email:before {
  content: "\e906";
}
.ico-mail:before {
  content: "\e906";
}
.ico-markunread:before {
  content: "\e906";
}
.ico-local_post_office:before {
  content: "\e906";
}
.ico-library:before {
  content: "\e937";
}
.ico-cart:before {
  content: "\e93a";
}
.ico-coin-dollar:before {
  content: "\e93b";
}
.ico-credit-card:before {
  content: "\e93f";
}
.ico-location:before {
  content: "\e947";
}
.ico-location2:before {
  content: "\e948";
}
.ico-map:before {
  content: "\e94b";
}
.ico-map2:before {
  content: "\e94c";
}
.ico-mobile:before {
  content: "\e958";
}
.ico-quotes-left:before {
  content: "\e977";
}
.ico-quotes-right:before {
  content: "\e978";
}
.ico-stats-bars:before {
  content: "\e99c";
}
.ico-eye:before {
  content: "\e9ce";
}
.ico-heart:before {
  content: "\e9da";
}
.ico-play:before {
  content: "\ea1c";
}
.ico-youtube:before {
  content: "\ea9d";
}
