$icomoon-font-family: "ico" !default;
$icomoon-font-path: "fonts" !default;

$ico-banknote: "\e935";
$ico-bill: "\e935";
$ico-money: "\e935";
$ico-cash: "\e935";
$ico-search: "\e908";
$ico-home: "\e909";
$ico-user-circle-o: "\e90a";
$ico-group: "\e90b";
$ico-users: "\e90b";
$ico-arrow-left: "\e90c";
$ico-arrow-right: "\e90d";
$ico-volume-control-phone: "\e900";
$ico-shopping_basket: "\e932";
$ico-add_shopping_cart: "\e933";
$ico-local_grocery_store: "\e934";
$ico-add_circle: "\e92d";
$ico-add: "\e92e";
$ico-delete_forever: "\e92f";
$ico-remove_circle_outline: "\e930";
$ico-remove_circle: "\e931";
$ico-do_not_disturb_on: "\e931";
$ico-favorite_outline: "\e925";
$ico-star_outline: "\e926";
$ico-star_half: "\e927";
$ico-bookmarks: "\e928";
$ico-stars: "\e929";
$ico-bookmark: "\e92a";
$ico-star: "\e92b";
$ico-favorite: "\e92c";
$ico-home1: "\e90e";
$ico-filter_list_alt: "\e90f";
$ico-view_list: "\e910";
$ico-list: "\e911";
$ico-table_rows: "\e912";
$ico-grid_view: "\e913";
$ico-check_circle: "\e914";
$ico-check: "\e915";
$ico-clear: "\e916";
$ico-close: "\e916";
$ico-logout: "\e917";
$ico-keyboard_backspace: "\e918";
$ico-login: "\e919";
$ico-person_search: "\e91a";
$ico-person_remove: "\e91b";
$ico-person_remove_alt_1: "\e91b";
$ico-person_add_alt_1: "\e91c";
$ico-verified_user: "\e91d";
$ico-person: "\e91e";
$ico-arrow_drop_down: "\e91f";
$ico-keyboard_arrow_down: "\e920";
$ico-arrow_drop_up: "\e921";
$ico-keyboard_arrow_up: "\e922";
$ico-arrow_left: "\e923";
$ico-navigate_before: "\e924";
$ico-chevron_left: "\e924";
$ico-arrow_left1: "\e907";
$ico-arrow_right_alt: "\e901";
$ico-arrow_right: "\e902";
$ico-navigate_next: "\e903";
$ico-chevron_right: "\e903";
$ico-call: "\e904";
$ico-phone: "\e905";
$ico-local_phone: "\e905";
$ico-email: "\e906";
$ico-mail: "\e906";
$ico-markunread: "\e906";
$ico-local_post_office: "\e906";
$ico-library: "\e937";
$ico-cart: "\e93a";
$ico-coin-dollar: "\e93b";
$ico-credit-card: "\e93f";
$ico-location: "\e947";
$ico-location2: "\e948";
$ico-map: "\e94b";
$ico-map2: "\e94c";
$ico-mobile: "\e958";
$ico-quotes-left: "\e977";
$ico-quotes-right: "\e978";
$ico-stats-bars: "\e99c";
$ico-eye: "\e9ce";
$ico-heart: "\e9da";
$ico-play: "\ea1c";
$ico-youtube: "\ea9d";

